<section class="skill-bars" id="Skills">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1>Skills &amp; Expertise</h1>
                <p>4 years SQL server experience with both developing, querying and maintained. About 2 year's .NET developing experience and 1-2 years of Web development. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 hidden-xs of">
                <div class="skills-left skills">
                    <br />
                    <h3>Develop</h3>
                    <ul class="skills-ul">
                        <li>
                            <span>C# .NET</span>
                            <div class="skill-bar-holder">
                                <div class="skill-capacity col-xs-11"></div>
                            </div>
                        </li>
                        <li>
                            <span>SQL Server</span>
                            <div class="skill-bar-holder">
                                <div class="skill-capacity col-xs-11"></div>
                            </div>
                        </li>
                        <li>
                            <span>Web API / RESTful services</span>
                            <div class="skill-bar-holder">
                                <div class="skill-capacity col-xs-8"></div>
                            </div>
                        </li>
                        <li>
                            <span>WCF</span>
                            <div class="skill-bar-holder">
                                <div class="skill-capacity col-xs-7"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 hidden-xs">
                <div class="skills-right skills">
                    <br />
                    <h3>Web</h3>
                    <ul class="skills-ul">
                        <li>
                            <span>ASP.NET MVC</span>
                            <div class="skill-bar-holder">
                                <div class="skill-capacity col-xs-11"></div>
                            </div>
                        </li>
                        <li>
                            <span>HTML &amp; CSS3</span>
                            <div class="skill-bar-holder">
                                <div class="skill-capacity col-xs-11"></div>
                            </div>
                        </li>
                        <li>
                            <span>Javascript / Jquery</span>
                            <div class="skill-bar-holder">
                                <div class="skill-capacity col-xs-10"></div>
                            </div>
                        </li>
                        <li>
                            <span>Responsive Web Design</span>
                            <div class="skill-bar-holder">
                                <div class="skill-capacity col-xs-9"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>