
 <!-- Intro page -->
<div class="main-container">
    <header class="page-header resume-header">
        <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="/img/hero21.jpg"/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-white space-bottom-medium">Kristoffer Risa</h1>
                    <span>Web &amp; App developer</span>
                    @Html.Partial("_SocialContact")
                </div>
            </div>
        </div>
    </header>
</div>
@Html.Partial("_About")
@Html.Partial("_CvSkills")