<ul class="social-icons">
    <li>
        <a href="https://www.linkedin.com/in/kristofferrisa" target="_blank">
            <core-icon icon="social:post-linkedin" aria-label="post-linkedin" role="img"></core-icon>
        </a>
    </li>

    <li>
        <a href="https://google.com/+KristofferRisa" target="_blank">
            <core-icon icon="social:post-gplus" aria-label="post-gplus" role="img"></core-icon>
        </a>
    </li>
    
    <li>
        <a href="https://github.com/KristofferRisa" target="_blank">
            <core-icon icon="social:post-github" aria-label="post-github" role="img"></core-icon>
        </a>
    </li>

    <li>
        <a href="https://twitter.com/kristofferrisa" target="_blank">
            <core-icon icon="social:post-twitter" aria-label="post-twitter" role="img"></core-icon>
        </a>
    </li>
    @*<li><a href="http://instagram.com/kristofferrisa" target="_blank">
        <core-icon icon="social:post-instagram" aria-label="post-instagram" role="img"></core-icon></a></li>*@
</ul>