  <section class="duplicatable-content milestones" id="Career">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h1>Career Highlights</h1>
                    <p class="lead">
                        Heres a short resume of my career highlights in form of milestones.
                        <br> From I graduated and till today.
                        <br>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 text-center" id="college-icon">
                    <div class="feature feature-icon-large">
                        <i class="icon icon-notebook"></i>
                        <div class="pin-body"></div>
                        <div class="pin-head"></div>
                        <h5>2007 - Graduated</h5>
                        <span>Service Engineer with Craft certificate</span>
                        <span class="sub">Horten Tekniske Fagskole</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center" id="navy-icon">
                    <div class="feature feature-icon-large">
                        <i class="icon icon-ribbon"></i>
                        <div class="pin-body"></div>
                        <div class="pin-head"></div>
                        <h5>2007 - Joined the Navy</h5>
                        <span>In artillery and telecommunications</span>
                        <span class="sub">At KMH Fridtjof Nansen</span>
                    </div>
                </div>
                <!--div class="col-md-3 col-sm-6 text-center" id="ricoh-icon">
                    <div class="feature feature-icon-large">
                        <i class="icon icon-briefcase"></i>
                        <div class="pin-body"></div>
                        <div class="pin-head"></div>
                        <h5>2008 - Started at Ricoh</h5>
                        <span>Service technician</span>
                        <span class="sub"></span>
                    </div>
                </div-->
                <div class="col-md-3 col-sm-6 text-center" id="visma-icon">
                    <div class="feature feature-icon-large">
                        <!-- <i class="icon icon-mic"></i>-->
                        <i class="icon icon-briefcase"></i>
                        <div class="pin-body"></div>
                        <div class="pin-head"></div>
                        <h5>2009 - Started at Visma Retail</h5>
                        <span>Consultant / solution architect / developer</span>
                        <span class="sub"></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center" id="hbv-icon">
                    <div class="feature feature-icon-large" onclick="location.href='https://www.hbv.no/studietilbud/bachelor-i-informasjonssystemer-og-it-ledelse/'">
                        <!-- <i class="icon icon-mic"></i>-->
                        <i class="icon icon-notebook"></i>
                        <div class="pin-body"></div>
                        <div class="pin-head"></div>
                        <h5>2015 - Started at college </h5>
                        <span>Buskerud and Vestfold university college</span>
                        <span class="sub"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>


<section class="expanding-list" id="cv">
    <div class="background-image-holder parallax-background">
        <img class="background-image" alt="Background Image" src="/img/hero22.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Education &amp; Employment</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <ul class="expanding-ul" id="eduList">
                    <li>
                        <div class="title" id="college">
                            <i class="icon icon-notebook"></i>
                            <span><strong>College Engineer</strong> Horten Tekniske Fagskole(Technical college)</span>
                        </div>
                        <div class="text-content">
                            <p>
                                After 4 year study at Thor Heyerdahl VGS and at Horten VGS I was finaly graduated as college engineer with general study(generell studiekompetanse) and Service electronics Craft Certificate.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="title" id="navy">
                            <i class="icon icon-ribbon"></i>
                            <span><strong>Joined the Norwegian Navy</strong>.</span>
                        </div>
                        <div class="text-content">
                            <p>
                                In <strong>2007</strong> I join the Navy where I worked on the <strong><a href="http://no.wikipedia.org/wiki/Fridtjof_Nansen-klassen" target="_blank">KNM Fridtjof Nansen</a></strong> fregate.
                            </p>
                            <img src="/img/KNM_Fridtjof_Nansen.jpg">
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <i class="icon icon-briefcase"></i>
                            <span><strong>Service technician</strong> Ricoh &amp; Norway</span>
                        </div>
                        <div class="text-content">
                            <p>
                                After the military I started working at Ricoh as a field service technician. My primary task was to maintain and repair multifunction printers and large production printers.
                                I also got trained on Ricoh's document handling software solution for handling printing, scanning and OCR reading.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            @*<i class="icon icon-trophy"></i>*@
                            <i class="icon icon-briefcase"></i>
                            <span><strong>Consultant / solution architect / developer</strong> Visma Retail</span>
                        </div>
                        <div class="text-content">
                            <p>I started working at <strong>Visma Retail in 2009</strong> as a suppport consultant. I got a role as Store Soultion Manager a Norwegain Retail chain with about 1000 stores.
After this I joined the Soultion Management team where the primary task was to monitor and maintain large customer soultions.
After Solution Management I join the Professional services department where I got a role as Centralized Solution Manager and later a Solution Architect. I also worked on internal .Net and ASP.NET projects.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
