{% extends "base.html" %}
{% block content %}

    <!-- Intro page -->  
    <div class="main-container">
        <header class="page-header resume-header">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" src="/static/img/hero21.jpg">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="text-white space-bottom-medium">Kristoffer Risa</h1>
                        <span>Web &amp; App developer</span>
                        <ul class="social-icons">
                            <li>
                                <a href="https://www.linkedin.com/in/kristofferrisa" target="_blank">
                                    <core-icon icon="social:post-linkedin" aria-label="post-linkedin" role="img" ></core-icon>
                                </a>
                            </li>

                            <li>
                                <a href="https://twitter.com/kristofferrisa" target="_blank">
                                    <i class="icon social_twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a href="https://www.facebook.com/kristoffer.risa" target="_blank">
                                    <i class="icon social_facebook"></i>
                                </a>
                            </li>

                            <li>
                                <a href="http://instagram.com/kristofferrisa" target="_blank">
                                    <i class="icon social_instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <section class="duplicatable-content milestones" id="Career">

            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                        <h1>Career Highlights</h1>
                        <p class="lead">
                            Heres a short resume of my career highlights in form of milestones.
                            <br>
                            From I graduated and till today.
                            <br>

                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-6 text-center">
                        <div class="feature feature-icon-large">
                            <i class="icon icon-notebook"></i>
                            <div class="pin-body"></div>
                            <div class="pin-head"></div>
                            <h5>2007 - Graduated</h5>
                            <span>Service Engineer with Craft certificate</span>
                            <span class="sub">Horten Tekniske Fagskole</span>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 text-center">
                        <div class="feature feature-icon-large">
                            <i class="icon icon-ribbon" onclick="location.href='#cv'"></i>
                            <div class="pin-body"></div>
                            <div class="pin-head" onclick="location.href='#cv'"></div>
                            <h5>2007 - Joined the Navy</h5>
                            <span>In artillery and telecommunications</span>
                            <span class="sub">At KMH Fridtjof Nansen</span>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 text-center">
                        <div class="feature feature-icon-large">
                            <i class="icon icon-briefcase"></i>
                            <div class="pin-body"></div>
                            <div class="pin-head"></div>
                            <h5>2008 - Started at Ricoh</h5>
                            <span>Service technician</span>
                            <span class="sub"></span>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 text-center">
                        <div class="feature feature-icon-large">
<!--								<i class="icon icon-mic"></i>-->
                            <i class="icon icon-briefcase"></i>
                            <div class="pin-body"></div>
                            <div class="pin-head"></div>
                            <h5>2009 - Started at Visma Retail</h5>
                            <span>Support Consultant</span>
                            <span class="sub"></span>
                        </div>
                        </div>
                    </div>


                </div>
            </div>

        </section>

        <section class="expanding-list" id="cv">

            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" src="/static/img/hero22.jpg">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1>Education &amp; Employment</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                        <ul class="expanding-ul">
                            <li>
                                <div class="title">
                                    <i class="icon icon-pencil"></i>
                                    <span><strong>College Engineer with Craft certificate</strong> Horten Tekniske Fagskole(Technical college)</span>
                                </div>

                                <div class="text-content">
                                    <p>
                                        After 4 year study at Thor Heyerdahl VGS and at Horten VGS I was finaly graduated as college engineer with general study(generell studiekompetanse) and Service electronics Craft Certificate.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <div class="title" id="navy">
                                    <i class="icon icon-briefcase"></i>
                                    <span><strong>Joined the Norwegian Navy</strong>.</span>
                                </div>

                                <div class="text-content">
                                    <p>
                                        In <strong>2007</strong> I was called into the Navy to serve my military duty. I was placed on the <strong><a href="http://no.wikipedia.org/wiki/Fridtjof_Nansen-klassen" target="_blank">KNM Fridtjof Nansen</a></strong> fregate. 
                                    </p>
                                    <img src="/static/img/KNM_Fridtjof_Nansen.jpg">
                                </div>
                            </li>

                            <li>
                                <div class="title">
                                    <i class="icon icon-briefcase"></i>
                                    <span><strong>Service technician</strong> Ricoh &amp; Norway</span>
                                </div>

                                <div class="text-content">
                                    <p>
                                        Right after the military I started working at Ricoh as a field service technician with man focus on multifunction printers repairs and service. I also worked on Ricoh's software of documenthandling. 
                                    </p>
                                </div>
                            </li>

                            <li>
                                <div class="title">
                                    <i class="icon icon-trophy"></i>
                                    <span><strong>Consultant and solution architect</strong> Visma Retail</span>
                                </div>

                                <div class="text-content">
                                    <p>
                                        I started working at <strong>Visma Retail in 2009</strong> as a suppport consultant. I later become a Store Soultion Manager for Kjøpmanshuset(Norwegain store chain) where I was the main contact between Visma and IT manager on KMH. Beside having the responisbilty for all the stores(about 1000 stores across all of Noray) I also were practiacting in different projects for the chain.
                                    </p>
                                    <p>
                                        In my years a Visma Retail I have had different roles in different departments, after Store Soution Manager at support a got a role as Centralized Solution Manager at Proffsional services. I also worked as a Solution Management consultant where I did a lot of maintaince, optimizeing and monitoring work on different platforms and soltions, exmaple is big SQL Server installations.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="skill-bars" id="Skills">

            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                        <h1>Skills &amp; Expertise</h1>
                        <p class="lead">
                            My first encounter with computer development was on <strong>SQL Server back in 2009</strong>. I startet administrating and optimizing several databases and it was then I was asked to join a optimizing projected. It was a project that was going to optimize code and process support for one application that had recently updated is database engine from Borland Interbase to MS SQL Server. The end product was that 90% ++ of the application code was rewritten into SQL server stored procedure, this was also the foundtaion of my first WPF app. After this I started working on smaler task that was solved with .NET C# console apps.
                        </p>	
                        <p>
                            In <strong>2012 I started working with ASP.NET</strong>. I made a website that would monitor and report an envoriment, more specific it was the datatransfer between computers. After this I started working with more websites and webapplictaions on the private, where I also tok servale online courses to learn more aboute the web platform and ASP.NET. Therefore I also have some experience with Python scripting as a backend, speaking of python, this site runs on Google App engine with Pyhton. 
                        </p>
                        <br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="skills-left skills">
                            <h3>Develop</h3>
                            <ul class="skills-ul">
                                <li>
                                    <span>C# .NET</span>
                                    <div class="skill-bar-holder">
                                        <div class="skill-capacity col-xs-10"></div>
                                    </div>
                                </li>

                                <li>
                                    <span>SQL Server</span>
                                    <div class="skill-bar-holder">
                                        <div class="skill-capacity col-xs-10"></div>
                                    </div>
                                </li>

                                <li>
                                    <span>WPF</span>
                                    <div class="skill-bar-holder">
                                        <div class="skill-capacity col-xs-7"></div>
                                    </div>
                                </li>

                                <li>
                                    <span>Python</span>
                                    <div class="skill-bar-holder">
                                        <div class="skill-capacity col-xs-6"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="skills-right skills">
                            <h3>Web</h3>
                            <ul class="skills-ul">
                                <li>
                                    <span>ASP.NET MVC</span>
                                    <div class="skill-bar-holder">
                                        <div class="skill-capacity col-xs-11"></div>
                                    </div>
                                </li>

                                <li>
                                    <span>HTML &amp; CSS3</span>
                                    <div class="skill-bar-holder">
                                        <div class="skill-capacity col-xs-9"></div>
                                    </div>
                                </li>

                                <li>
                                    <span>Javascript / Jquery</span>
                                    <div class="skill-bar-holder">
                                        <div class="skill-capacity col-xs-7"></div>
                                    </div>
                                </li>

                                <li>
                                    <span>Responsive Web Design</span>
                                    <div class="skill-bar-holder">
                                        <div class="skill-capacity col-xs-6"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

{% endblock %}